#info{
  .ui-accordion{
    &-header:nth-of-type(odd){
      background-color: $accordionOdd;
      color: white;
    }

    &-header:nth-of-type(even){
      background-color: $accordionEven;
      color: white
    }

    &-header{
      border: 0;
      border-radius: 0;
      margin-top: 0;

      &.ui-state-active{
        background-color: $wolfbrandRed;
      }

    }

  }

  .scooterColor{
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 4px;
  }
}
