input[type="text"],
input[type="email"],
input[type="telephone"]{
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 8px 5px;
}
button,
input[type="submit"]{
  display: inline-block;
  padding: 12px 10px !important;
  color: $gray;
  border: 2px solid $gray;
  text-transform: uppercase;
  font-family: $ffamily;
  background-color: transparent;
  &:hover{
    background-color: $customred;
    cursor: pointer;
    color: white;
  }

}
label{
  font-family: $ffamilybody;
  font-size: 14px;
}
